{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins":["transform-class-properties"]
}

/*note we may need to add a entry point like in webpack, or a require var to fix this warning*/